* {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 10px;
}
body {
    background-color: pink;

}

main {
    background-color: deeppink;
    width: 100px;
    margin: auto;
    padding: 20px;
    box-shadow: 3px 3px 5px rgb(240, 102, 125);
}

.imagem1 img {
    max-width: 200px;
    max-height: 200px;
    width: auto;
    height: auto;
}

.imagem2 img {
    max-width: 200px;
    max-height: 200px;
    width: auto;
    height: auto;
}

.imagem3 img {
    max-width: 200px;
    max-height: 200px;
    width: auto;
    height: auto;
}